@model BelajarWeb1.Models.Employee

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Reset Password";
}

<h1>Reset Password</h1>

<div class="container">
    <div class="card">
        <div class="card-body">
            <form asp-action="NewPassword" asp-controller="Account">
               
                

                    <input asp-for="Email" type="hidden" class="form-control" placeholder="email" name="email"/>
                

                <div class="form-group mb-3">
                    <label class="control-label">New Password</label>
                    <input name="password" type="password" class="form-control" placeholder="password" />
                    
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Send" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }